.form-control:focus {
    box-shadow: none;
    border-color: #578ee0;
}

.profile-button {
    background: #578ee0;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #0d4ba8
}

.profile-button:focus {
    background: #0d4ba8;
    box-shadow: none
}

.profile-button:active {
    background: #0d4ba8;
    box-shadow: none
}

.back:hover {
    color: #578ee0;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #578ee0;
    color: #fff;
    cursor: pointer;
    border: solid 1px #578ee0
}